.slidePlaceholder input, .slidePlaceholder textarea, .slidePlaceholder select{
	vertical-align: middle;
	border: none;
	border-bottom: 2px solid;
	padding: 10px 5px 5px;
	margin: 5px 0 10px;
}

.txtPlaceholder{
	text-align: left;
	margin: 0 0 0 5px; 
	font-size: 14px;
	display: none;
}

.txtPlaceholder_anim_appear{
	-webkit-animation: placeholderAppear 0.5s linear; 
	-moz-animation: placeholderAppear 0.5s linear;
	-o-animation: placeholderAppear 0.5s linear;
	animation: placeholderAppear 0.5s linear;
}

.txtPlaceholder_anim_disappear{
	-webkit-animation: placeholderDisappear 0.5s linear; 
	-moz-animation: placeholderDisappear 0.5s linear;
	-o-animation: placeholderDisappear 0.5s linear;
	animation: placeholderDisappear 0.5s linear;
}


@-webkit-keyframes placeholderAppear {
    from {opacity: 0; font-size: 4px;}
    to {opacity: 1; font-size: 14px;}
}

@-webkit-keyframes placeholderDisappear {
    from {opacity: 1; font-size: 14px;}
    to {opacity: 0; font-size: 4px;}
}

@keyframes placeholderAppear {
    from {opacity: 0; font-size: 4px;}
    to {opacity: 1; font-size: 14px;}
}

@keyframes placeholderDisappear {
    from {opacity: 1; font-size: 14px;}
    to {opacity: 0; font-size: 4px;}
}

@-moz-keyframes placeholderAppear {
    from {opacity: 0; font-size: 4px;}
    to {opacity: 1; font-size: 14px;}
}

@-moz-keyframes placeholderDisappear {
    from {opacity: 1; font-size: 14px;}
    to {opacity: 0; font-size: 4px;}
}

@-o-keyframes placeholderAppear {
    from {opacity: 0; font-size: 4px;}
    to {opacity: 1; font-size: 14px;}
}

@-o-keyframes placeholderDisappear {
    from {opacity: 1; font-size: 14px;}
    to {opacity: 0; font-size: 4px;}
}